[run]
branch = True
source =
    app_back
    app_front
    db_models
parallel = True

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: 
omit =
    tests/*
    migrations/*