{# Fragment de template pour afficher les résultats de la recherche de fournisseurs #}
{% if suppliers %}
    <!-- template suppliers_dropdown.html -->
    {% for s in suppliers %}
    <div class="dropdown-item"
        hx-get="{{ url_for('supplier_htmx.select_supplier', supplier_id=s.id, supplier_name=s.name) }}"
        hx-target="#supplier_id"
        hx-swap="outerHTML">
        {{ s.name }}
    </div>
    {% endfor %}
{% else %}
    <!-- template suppliers_dropdown.html - vide -->
    <div class="dropdown-item text-muted">
        Aucun fournisseur trouvé.
    </div>
    <div class="dropdown-item text-primary"
         style="cursor: pointer;"
         hx-get="{{ url_for('supplier_htmx.add_new_supplier', name=query) }}"
         hx-target="#supplier-create-modal"
         hx-swap="innerHTML">
        ➕ Créer “{{ query }}”
    </div>
{% endif %}