@use '../core/variables' as variables;
@use '../core/mixins' as mixins;
@use '../core/base';
@use '../core/layout';
@use '../core/forms';
@use '../core/components';
@use '../core/utilities';
@use '../core/reset';

.login {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        padding: variables.$space-lg;
    }

    &-title {
        color: variables.$primary-color;
        margin: variables.$space-lg 0 variables.$space-md;
    }

    &-form {
        background: variables.$gray-100;
        padding: variables.$space-lg;
        border-radius: variables.$radius-md;
        box-shadow: variables.$shadow-medium;
        width: 100%;
        max-width: 400px;

        &-group {
            margin-bottom: variables.$space-md;
        }
    }
}