<!-- Formulaire de création de commandes. -->
<div id="new-order-form">
    <form
        method="post"
        hx-post="{{ action_url }}"
        hx-target="{{ target | default('#order-container') }}"
        hx-swap="innerHTML"
    >
        {{ form.hidden_tag() }}

        <div class="form-group" id="supplier-wrapper">
            {{ form.supplier_id(id="supplier_id", type="hidden") }}
            {{ form.supplier_name.label(class="form-label") }}
            {{ form.supplier_name(class="form-control", id="supplier_name",
                placeholder="ID ou nom du fournisseur", required=True,
                **{
                    "hx-get": url_for("supplier_htmx.get_suppliers", type_of_data="id_and_name"),
                    "hx-trigger": "input changed delay:500ms",
                    "hx-target": "#search-results",
                    "hx-swap": "innerHTML"
                }
                )
            }}

            <div id="search-results"
                 class="dropdown-menu show">
                 <!-- Les résultats de la recherche seront injectés ici -->
            </div>
            {% if form.supplier_name.errors %}
                <div class="text-danger small">{{ form.supplier_name.errors[0] }}</div>
            {% endif %}
        </div>

        <div class="mt-2">
            {{ form.submit(class="btn btn-primary",
                **{
                    "hx-post": url_for("stock.create_order"),
                    "hx-target": "#order-container",
                    "hx-swap": "innerHTML"
                }
                )
            }}
        </div>
    </form>
    <div id="supplier-create-modal">
        <!-- Le formulaire d'ajout rapide de fournisseur sera injecté ici -->
    </div>
    <div id="order-container">
        <!-- Le tableau de la commande créée sera injecté ici -->
    </div>
</div>