    <div class="banner active bg-primary">
        <div class="header-container">
            <h1 class="main-title handscript y-center">
                Editions Sauvetage
            </h1>
            <div class="bars">
                {% if flags.navbar and flags.navbar == true %}
                <div class="menu">
                    <button class="menu__toggle" aria-label="{{ params.tab }}">{{ params.tab }}</button>
                    <ul class="menu__list">
                        <li class="menu__list__item"><a href="{{ url_for('home') }}">Accueil</a></li>
                        <li class="menu__list__item"><a href="{{ url_for('dashboard.index') }}">Tableau de Bord</a></li>
                        <li class="menu__list__item"><a href="{{ url_for('inventory.index') }}">Inventaire</a></li>
                        <li class="menu__list__item"><a href="{{ url_for('stock.index') }}">Stocks</a></li>
                        <li class="menu__list__item"><a href="{{ url_for('order.index') }}">Commandes</a></li>
                        <li class="menu__list__item"><a href="{{ url_for('customer.index') }}">Clients</a></li>
                        <li class="menu__list__item"><a href="{{ url_for('supplier.index') }}">Fournisseurs</a></li>
                        {% if session and ('1' in session['permissions'] or '9' in session['permissions']) %}
                        <li class="menu__list__item"><a href="{{ url_for('admin.index') }}">Administration</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                {% if flags.userbar and flags.userbar == true %}
                <div class="userbar">
                    <div class="userbar__avatar" id="userbar-avatar" aria-haspopup="true" aria-expanded="false">
                        <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="8.5" r="4.5" fill="#fff"/>
                          <ellipse cx="12" cy="17" rx="7" ry="5" fill="#fff"/>
                          <circle cx="12" cy="8.5" r="4.5" fill="#b3d0ff" fill-opacity=".7"/>
                        </svg>
                    </div>
                    <div class="userbar__dropdown" id="userbar-dropdown" role="menu" aria-labelledby="userbar-avatar">
                        <div class="userbar__item"><a href="{{ url_for('user.modify', username=session['username'] | urlencode) }}">Mon compte</a></div>
                        <div class="userbar__item"><a href="{{ url_for('user.chg_pwd', username=session['username'] | urlencode) }}">Changer le mot de passe</a></div>
                        {% if session and ('1' in session['permissions'] or '9' in session['permissions']) %}
                        <div class="userbar__item"><a href="{{ url_for('admin.index') }}">Admin</a></div>
                        {% endif %}
                        <div class="userbar__item"><a href="{{ url_for('user.logout') }}">Déconnexion</a></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
