{% extends layout.extend_layout %}

{% block title %}Editions Sauvetage - Modification de compte{% endblock %}

{% set admin_permissions = (first_user or '1' in session['permissions'] or '9' in session['permissions']) and (user['username'] != session['username']) %}

{% block content %}
{% from 'common/macros.html' import render_field_errors %}
    <div class="register-container mt-3">
        <h2 class="register-container__title">Modification de compte</h2>
        <form class="register-container__form" method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group register-container__form__group mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="Nom d'utilisateur", value=form.username.data) }}
                {{ render_field_errors(form.username) }}
            </div>

            <div class="form-group register-container__form__group mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", placeholder="Adresse e-mail", value=form.email.data) }}
                {{ render_field_errors(form.email) }}
                <div id="email-error" class="email-error"></div>
            </div>

            {% if admin_permissions %}
            <div class="form-group register-container__form__group__checkbox mb-3">
                {{ form.permissions.label(class="form-label checkbox-label") }}
                {{ form.permissions(class="form-control register-container__form__group__checkbox") }}
                {{ render_field_errors(form.permissions) }}
            </div>
            {% endif %}

            <div class="form-group register-container__form__group mb-3">
                {{ form.submit(class="btn btn-primary", value="Mettre à jour") }}
            </div>
        </form>
    </div>
{% endblock %}
