<!-- template new.html -->
{# ── Section de création de retour ─────────────────────────────────── #}

<div class="orders-header">
    <h2 id="create-return-title">Nouveau retour</h2>
</div>
<div class="orders-form">
</div>
<div class="orders-actions">
    <div class="btn btn-secondary" id="back-from-create-return">
        {% include "svg/close.html" %}
        Retour
    </div>
    <div class="btn btn-primary" id="create-return-validation">
        {% include "svg/checkmark.html" %}
        Valider le retour
    </div>
</div>
