@use './variables' as variables;
@use 'sass:color';

.alert {
    padding: variables.$space-sm variables.$space-md;
    border-radius: variables.$radius-md;
    margin-bottom: variables.$space-md;

    &.alert-success { background: color.adjust(variables.$color-success, $lightness: 40%); }
    &.alert-danger { background: color.adjust(variables.$color-danger, $lightness: 40%); }
}

.btn {
    padding: variables.$space-sm variables.$space-md;
    border-radius: variables.$radius-md;
    cursor: pointer;
    border: none;

    svg {
        width: 1em;
        height: 1em;
        flex-shrink: 0;
    }

    &.btn-primary {
        background: variables.$primary-color;
        color: white;

        &:hover {
            background: color.adjust(variables.$primary-color, $lightness: 10%);
        }
    }
}

.bg-primary {
    background-color: variables.$primary-color;
    color: variables.$border-white;
}

.icone {
    &-8 {
        width: 8px;
        height: 8px;
    }
    &-16 {
        width: 16px;
        height: 16px;
    }
    &-24 {
        width: 24px;
        height: 24px;
    }
    &-32 {
        width: 32px;
        height: 32px;
    }
    &-48 {
        width: 48px;
        height: 48px;
    }
}
