<section id="orders-management" class="orders-container">
    <div class="orders-header">
        <h2 id="create-order-title">Gestion de la commande {{ order.order_ref }}</h2>
    </div>
    <div class="orders-form">
        <!-- TODO Créer la visualisation/modification de la commande -->
    </div>
    <div class="orders-actions">
        <div class="btn btn-secondary" id="back-from-create-order">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
            Retour
        </div>
        <div class="btn btn-primary" id="create-order-validation">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
            Valider la commande
        </div>
    </div>
</section>
