<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ meta.keywords | default('sauvetage, frontend, application') }}">
    <meta name="description" content="{{ meta.description | default('Application frontend pour les Editions Sauvetage') }}">
    <meta name="author" content="{{ meta.author | default('Rémi Verschuur') }}">
    <meta name="robots" content="{{ meta.robots | default('noindex, nofollow') }}">
    <meta name="language" content="{{ meta.accessibility.lang | default('fr') }}">
    <meta name="direction" content="{{ meta.accessibility.direction | default('ltr') }}">
    <meta name="aria-role" content="{{ meta.accessibility.aria_role | default('') }}">

    <!-- Titre de la page, injecté par les templates enfants -->
    <title>{{ meta.title | default('Editions Sauvetage | Intranet') }}</title>

    <!-- Injection des styles suivant la page -->
    {% for style in params.styles | default([]) %}
    <link rel="stylesheet" href="{{ url_for('static', filename=style) }}">
    {% endfor %}
    {% if flags.htmx | default(false) %}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js"
        integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F"
        crossorigin="anonymous">
    </script>
    {% endif %}
</head>
<body>
    <header>
        {% include 'common/header.html' %}
    </header>
    <main>
        {# Messages Flash — disponibles sur toutes les pages #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mb-3">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include 'common/footer.html' %}
    </footer>
    <!-- Injection des scripts suivant la page -->
    {% for module in params.modules | default([]) %}
    <script type="module" src="{{ url_for('static', filename=module) }}"></script>
    {% endfor %}
    {% for script in params.scripts | default([]) %}
    <script src="{{ url_for('static', filename=script) }}"></script>
    {% endfor %}
</body>
</html>