<!-- Formulaire de création de commandes. -->
<div id="new-order-form">
    <form
        method="post"
        hx-post="{{ action_url }}"
        hx-target="{{ target | default('#order-container') }}"
        hx-swap="innerHTML"
    >
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.supplier_id.label(class="form-label") }}
            {{ form.supplier_id(class="form-control", id="supplier_id",
                placeholder="ID ou nom du fournisseur", required=True,
                **{
                    "hx-get": url_for("supplier_data.get_suppliers"),
                    "hx-trigger": "input changed delay:500ms",
                    "hx-target": "#search-results",
                    "hx-swap": "innerHTML"
                }
                )
            }}

            <div id="search-results"
                 class="dropdown-menu show"
                 style="position: absolute; z-index: 1000; width: 100%;">
                 <!-- Les résultats de la recherche seront injectés ici -->
            </div>
            {% if form.supplier_id.errors %}
                <div class="text-danger small">{{ form.supplier_id.errors[0] }}</div>
            {% endif %}
        </div>

        <div class="mt-2">
            {{ form.submit(class="btn btn-primary",
                **{
                    "hx-post": url_for("stock.create_order"),
                    "hx-target": "#order-container",
                    "hx-swap": "innerHTML"
                }
                )
            }}
        </div>
    </form>
</div>